@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 21px;
    &__wrapper{
        display: flex;
        justify-content: space-around;
    }
    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        span {
            display: block;
            margin-top: 17px;
            font-size: 18px;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    &__phone {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: right;
        color: #fff;
        text-decoration: none;
    }
}

.hidden {
    transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
    .header {
        &__logo {
            &-img {
                width: 140px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        display: none;
    }
}